Q1. Write a code to print the data present in the second row of the dataframe, df.

In [ ]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

In [11]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [12]:
df[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

iloc means inbelid function and loc mean main index

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [13]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [14]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.065366  0.341569  0.516966  0.905563  0.045229  0.821933
2  0.948712  0.163315  0.292870  0.449707  0.001956  0.658217
3  0.229901  0.763142  0.850962  0.685501  0.307030  0.027481
4  0.943110  0.187893  0.946663  0.619758  0.282187  0.018898
5  0.132288  0.138634  0.025403  0.233533  0.367269  0.132640
6  0.004813  0.721320  0.266240  0.655848  0.184985  0.478702

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [15]:
df1.mean()

column_1    0.387365
column_2    0.385979
column_3    0.483184
column_4    0.591652
column_5    0.198110
column_6    0.356312
dtype: float64

In [16]:
df1.std()

column_1    0.439056
column_2    0.285193
column_3    0.358904
column_4    0.228323
column_5    0.148033
column_6    0.344945
dtype: float64

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [17]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.065366  0.341569  0.516966  0.905563  0.045229  0.821933
2  0.948712  0.163315  0.292870  0.449707  0.001956  0.658217
3  0.229901  0.763142  0.850962  0.685501  0.307030  0.027481
4  0.943110  0.187893  0.946663  0.619758  0.282187  0.018898
5  0.132288  0.138634  0.025403  0.233533  0.367269  0.132640
6  0.004813  0.721320  0.266240  0.655848  0.184985  0.478702

In [23]:
df1.replace(column_2,axis=1)

NameError: name 'column_2' is not defined

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, the windows functions are used for performing calculations on a specific window or a subset of data within a DataFrame or Series.
Rolling Window Functions:

Q7. Write a code to print only the current month and year at the time of answering this question.

In [24]:
import pandas as pd

In [26]:
pd.DataFrame(month=5,year=12,time=4);

TypeError: DataFrame.__init__() got an unexpected keyword argument 'month'